<div zf-modal="" id="createAccount">
  <a zf-close="" class="close-button">×</a>
  <div class="grid-block vertical">
    <h1>Create Your Account</h1>
    <p>Start creating beautiful designs for your labels. Need the labels? When you create your account, you'll also have an acocunt on Onlinelabels.com to access our huge offering of labels.</p>
    <form>
      <label>Email
      <input type="text" placeholder="Text field">
      </label>
      <label>Password
      <input type="text" placeholder="Text field">
      </label>
      <label>Reenter Password
      <input type="text" placeholder="Text field">
      </label>
      <label>Activation Code
      <input type="text" placeholder="(optional)">
      </label>
      <input id="acceptTerms" type="checkbox"><label for="acceptTerms">I have read and agree to the Terms of Service</label>
      <a href="#" class="button expand">Create Account</a>
    </form>
    <p> Already have an account? Login </p>
  </div>
</div>