<div zf-action-sheet="">
	<div zf-as-button="" title="Create a New Label"></div>
	<div zf-as-content="" position="bottom">
		<ul>
			<li><a ui-sref="blank-templates">Blank Templates</a></li>
			<li><a ui-sref="predesigned-templates">Predesigned Templates</a></li>
		</ul>
	</div>
</div>

<section class="block-list">
	<ul>
		<li><a href="#">My Designs</a></li>
	</ul>
</section>

<p>Please <span class="emphasis"><a zf-open="signIn">sign in</a></span> or <span class="emphasis"><a zf-open="createAccount">create account</a></span> to save your label designs. It's free!</p>