<div zf-modal="" id="signIn">
  <a zf-close="" class="close-button">×</a>
  <div class="grid-block vertical">
    <h1>Sign In</h1>
    <form>
      <label>Email
      <input type="text" placeholder="Text field">
      </label>
      <label>Password
      <input type="text" placeholder="Text field">
      </label>
      <input id="acceptTerms" type="checkbox"><label for="acceptTerms">Stay logged in to this computer</label>
      <a href="#" class="button expand">Sign In</a>
    </form>
    <p>Don't have an account? Create one!</p>
  </div>
</div>