---
name: home
url: /
---
<div id="home">

	<h3>Get started with your label designs <span class="subheader">or browse through our pre-designed templates to use</span></h3>

	<div class="grid-block">
		<div class="grid-content small-6 medium-4 large-2">
			<a ui-sref="blank-templates">
				<div class="card" id="createNew">
					<img src="assets/images/iconWithBG.png">
					<div class="card-section">
						<h5>Create a New Label</h5>
						<p>from a blank template</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/apothecaryTemplate.jpg">
					<div class="card-section">
						<h5>Soap</h5>
						<p>95 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/seasoningTemplate.jpg">
					<div class="card-section">
						<h5>Food Packaging</h5>
						<p>25 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/circleTemplate.jpg">
					<div class="card-section">
						<h5>Circle</h5>
						<p>104 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/beerTemplate.jpg">
					<div class="card-section">
						<h5>Beer Bottle</h5>
						<p>86 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/wineTemplate.jpg">
					<div class="card-section">
						<h5>Wine Bottle</h5>
						<p>77 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/fourthOfJulyTemplate.jpg">
					<div class="card-section">
						<h5>Fourth of July</h5>
						<p>14 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/thankYouTemplate.jpg">
					<div class="card-section">
						<h5>Thank You</h5>
						<p>94 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/instagramTemplate.jpg">
					<div class="card-section">
						<h5>Business</h5>
						<p>12 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/plumeriaTemplate.jpg">
					<div class="card-section">
						<h5>Lotion Bottles</h5>
						<p>60 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/weddingTemplate.jpg">
					<div class="card-section">
						<h5>Wedding</h5>
						<p>89 templates</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a ui-sref="predesigned-templates">
				<div class="card" id="viewMore">
					<img src="assets/images/predesignedAdd.png">
					<div class="card-section">
						<h5>View More</h5>
						<p>Predesigned Templates</p>
					</div>
				</div>
			</a>
		</div>
	</div>

<!-- 	<div class="grid-block">
		<div class="grid-content medium-6">
			<h2>THIS IS CONTENT!!!</h2>
			<h3 class="subheader">This is just to test out individual scrolling.</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>

		</div>
		<div class="grid-content medium-6">
			<h2>THIS IS CONTENT!!!</h2>
			<h3 class="subheader">This is just to test out individual scrolling.</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>
		</div>
	</div>

	<div class="grid-block">
		<div class="grid-content">
			<h2>SCROLL</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>
		</div>
	</div>

	<div class="grid-block">
		<div class="grid-content medium-6">
		<img src="http://placebear.com/g/1000/500">
		</div>
		<div class="grid-content medium-6">
			<h2>THIS IS CONTENT!!!</h2>
			<h3 class="subheader">This is just to test out individual scrolling.</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>
		</div>
	</div>

	<div class="grid-block">
		<div class="grid-content">
			<h2>SCROLL</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Ut id aliis narrare gestiant? Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Duo Reges: constructio interrete. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. Item de contrariis, a quibus ad genera formasque generum venerunt. Quare conare, quaeso. Ego vero volo in virtute vim esse quam maximam;</p>
		</div>
	</div> -->

</div>