---
name: predesigned-templates
url: /predesigned-templates
---

<div id="templates">
	<div class="grid-block vertical">
		<div class="grid-content">
			
			<h3> Pre-designed Templates </h3>

			<div class="grid-block" id="search-copy">
				<div class="grid-content">
					<h5>Start by browsing all pre-designed templates:</h5>
					<p>Know what you need? Use the search bar below or view pre-designed templates by category.</p>
				</div>
			</div>

			<div class="grid-block" id="blank-search">
				<div class="grid-content medium-6">
					<form>
				    	<input type="text" placeholder="Search by product number or keyword">
					</form>
				</div>
				<div class="grid-content medium-1">
					<div class="grid-block">
						<div class="grid-container">
							<p>OR:</p>
						</div>
					</div>
				</div>
				<div class="grid-content medium-5">
					<form>
						<select name="shape" id="shape">
							<option value="">Choose a Category</option>
							<option value="">Round Corner Rectangle</option>
							<option value="">Square Corner Rectangle</option>
							<option value="">Circle</option>
							<option value="">Custom</option>
						</select>
					</form>
				</div>
			</div>

			<div class="grid-block" id="blank-results">
				<div class="grid-content">
					<p>889 matching templates</p>
				</div>
			</div>

		</div>
	</div>

	<div class="grid-block">
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/fourthOfJulyTemplate.jpg">
					<div class="card-section">
						<h5>"Land of the Free" Fourth of July Wine Bottle Labels</h5>
						<p>4" x 3" - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/stripedFourth.jpg">
					<div class="card-section">
						<h5>Striped Fourth of July Snake Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/julyBow.jpg">
					<div class="card-section">
						<h5>Fourth of July Bow Address Labels</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/polkaDotFourth.jpg">
					<div class="card-section">
						<h5>Paint Strokes Fourth of July Water Bottle Labels</h5>
						<p>7" x 3" - OL5925</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/snackLabel.jpg">
					<div class="card-section">
						<h5>Stars and Stripes Banner Snack Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/nameTag.jpg">
					<div class="card-section">
						<h5>Fourth of July Name Tag Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/stripedCircle.jpg">
					<div class="card-section">
						<h5>Striped Fourth of July Circle Labels</h5>
						<p>1.5" Circle - OL2088</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/libertyBell.jpg">
					<div class="card-section">
						<h5>Liberty Bell Fourth of July Wine Bottle Label</h5>
						<p>4" x 3" Rectangle - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/starLabel.jpg">
					<div class="card-section">
						<h5>Fourth of July Star Labels</h5>
						<p>2.3758" x 2.2601" - OL195</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/addressLabel.jpg">
					<div class="card-section">
						<h5>Striped Star Fourth of July Address Label</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/freedomStout.jpg">
					<div class="card-section">
						<h5>"Freedom Stout" Fourth of July  Beer Bottle Label</h5>
						<p>4" x 3" - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/heartAddress.jpg">
					<div class="card-section">
						<h5>Fourth of July Heart Address Label</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/50stars.jpg">
					<div class="card-section">
						<h5>"Land of the Free" Fourth of July Wine Bottle Labels</h5>
						<p>4" x 3" - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/apothecaryTemplate.jpg">
					<div class="card-section">
						<h5>Striped Fourth of July Snake Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/beerTemplate.jpg">
					<div class="card-section">
						<h5>Fourth of July Bow Address Labels</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/circleTemplate.jpg">
					<div class="card-section">
						<h5>Paint Strokes Fourth of July Water Bottle Labels</h5>
						<p>7" x 3" - OL5925</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/fathersDayBeer.jpg">
					<div class="card-section">
						<h5>Stars and Stripes Banner Snack Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/independenceMerlot.jpg">
					<div class="card-section">
						<h5>Fourth of July Name Tag Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/instagramTemplate.jpg">
					<div class="card-section">
						<h5>Striped Fourth of July Circle Labels</h5>
						<p>1.5" Circle - OL2088</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/seasoningTemplate.jpg">
					<div class="card-section">
						<h5>Liberty Bell Fourth of July Wine Bottle Label</h5>
						<p>4" x 3" Rectangle - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/starLabel.jpg">
					<div class="card-section">
						<h5>Fourth of July Star Labels</h5>
						<p>2.3758" x 2.2601" - OL195</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/addressLabel.jpg">
					<div class="card-section">
						<h5>Striped Star Fourth of July Address Label</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/freedomStout.jpg">
					<div class="card-section">
						<h5>"Freedom Stout" Fourth of July  Beer Bottle Label</h5>
						<p>4" x 3" - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/thankYouTemplate.jpg">
					<div class="card-section">
						<h5>Fourth of July Heart Address Label</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/weddingTemplate.jpg">
					<div class="card-section">
						<h5>"Land of the Free" Fourth of July Wine Bottle Labels</h5>
						<p>4" x 3" - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/stripedFourth.jpg">
					<div class="card-section">
						<h5>Striped Fourth of July Snake Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/julyBow.jpg">
					<div class="card-section">
						<h5>Fourth of July Bow Address Labels</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/polkaDotFourth.jpg">
					<div class="card-section">
						<h5>Paint Strokes Fourth of July Water Bottle Labels</h5>
						<p>7" x 3" - OL5925</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/snackLabel.jpg">
					<div class="card-section">
						<h5>Stars and Stripes Banner Snack Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/nameTag.jpg">
					<div class="card-section">
						<h5>Fourth of July Name Tag Labels</h5>
						<p>3.375" x 2.3125" - OL5030</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/stripedCircle.jpg">
					<div class="card-section">
						<h5>Striped Fourth of July Circle Labels</h5>
						<p>1.5" Circle - OL2088</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/libertyBell.jpg">
					<div class="card-section">
						<h5>Liberty Bell Fourth of July Wine Bottle Label</h5>
						<p>4" x 3" Rectangle - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/starLabel.jpg">
					<div class="card-section">
						<h5>Fourth of July Star Labels</h5>
						<p>2.3758" x 2.2601" - OL195</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/addressLabel.jpg">
					<div class="card-section">
						<h5>Striped Star Fourth of July Address Label</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/freedomStout.jpg">
					<div class="card-section">
						<h5>"Freedom Stout" Fourth of July  Beer Bottle Label</h5>
						<p>4" x 3" - OL500</p>
					</div>
				</div>
			</a>
		</div>
		<div class="grid-content small-6 medium-4 large-2">
			<a href="#">
				<div class="card">
					<img src="assets/images/templates/heartAddress.jpg">
					<div class="card-section">
						<h5>Fourth of July Heart Address Label</h5>
						<p>1.75" x 0.666" - OL385</p>
					</div>
				</div>
			</a>
		</div>
	</div>

</div>